header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 20px rgba(224, 231, 248, 0.5);


  .logo {
    height: 28px;
    width: 122px;
  }

  .phone_number {
    display: none;
  }

  .offre_special {
    width: 50px;
    height: 40px;
  }

  .menu {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 80px;
    padding: 0 110px;
    justify-content: space-between;

    .logo {
      width: 127px;
      height: 29px;
    }

    .offre_special {
      width: 94px;
      height: 76px;
    }

    .phone,
    .menu {
      display: none;
    }

    .phone_number {
      display: block;
    }
  }
}
